<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
           class="org.obeonetwork.dsl.uml2.editor.internal.UmlCommonActionProvider"
           id="org.obeonetwork.dsl.uml2.editor.internal.CommonActionProvider1">
        <enablement>
           <instanceof
                 value="org.eclipse.emf.ecore.EObject">
           </instanceof>
        </enablement>
     </actionProvider>
     <commonFilter
           activeByDefault="true"
           class="org.obeonetwork.dsl.uml2.editor.internal.UMLStereotypeApplicationFilter"
           description="Hides Stereotype applications"
           id="org.obeonetwork.dsl.uml2.navigator.commonFilter.stereotypeapplication"
           name="UML Stereotype applications"
           visibleInUI="true">
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerActionBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <actionExtension
                 pattern="org.obeonetwork.dsl.uml2.editor.*">
           </actionExtension>
        </includes>
     </viewerActionBinding>
     <viewerContentBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <contentExtension
                 pattern="org.obeonetwork.dsl.uml2.editor.*">
           </contentExtension>
           <contentExtension
                 pattern="org.obeonetwork.dsl.uml2.navigator.commonFilter.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <dragAssistant
            class="org.obeonetwork.dsl.uml2.editor.internal.UmlCommonDragAdapterAssistant"
            viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
      </dragAssistant>
  </extension>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.sirius.ui.resource.content.session"
            contentProvider="org.obeonetwork.dsl.uml2.editor.internal.DummyContentProvider"
            id="org.obeonetwork.dsl.uml2.editor.DndProvider"
            labelProvider="org.obeonetwork.dsl.uml2.editor.internal.DummyLabelProvider"
            name="Uml Designer Drag n Drop Support"
            priority="higher"
            providesSaveables="false">
             <enablement>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </enablement>
         <dropAssistant
               class="org.obeonetwork.dsl.uml2.editor.internal.UmlCommonDropAdapterAssistant"
               id="org.obeonetwork.dsl.uml2.editor.DropAssistant">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.obeonetwork.dsl.uml2.navigator.commands.copy"
           name="Copy">
     </command>
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.obeonetwork.dsl.uml2.navigator.commands.paste"
           name="Paste">
     </command>
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.obeonetwork.dsl.uml2.navigator.commands.cut"
           name="Cut">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu">
        <command
              commandId="org.obeonetwork.dsl.uml2.navigator.commands.cut"
              icon="IMG_TOOL_CUT"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.cut"
              label="Cut"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.uml2.uml.Element">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.obeonetwork.dsl.uml2.navigator.commands.copy"
              icon="IMG_TOOL_COPY"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.copy"
              label="Copy"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.uml2.uml.Element">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.obeonetwork.dsl.uml2.navigator.commands.paste"
              icon="IMG_TOOL_PASTE"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.paste"
              label="Paste"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       operator="and">
                    <instanceof
                          value="org.eclipse.uml2.uml.Element">
                    </instanceof>
                 </iterate>
              </and>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.copy"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+C">
     </key>
     <key
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.paste"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+V">
     </key>
     <key
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.cut"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+Y">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.CutCommandHandler"
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.cut">
     </handler>
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.CopyCommandHandler"
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.copy">
     </handler>
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.PasteCommandHandler"
           commandId="org.obeonetwork.dsl.uml2.navigator.commands.paste">
     </handler>
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.CopyCommandHandler"
           commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.uml2.uml.Element">
              </instanceof>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.uml2.uml.Element">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.PasteCommandHandler"
           commandId="org.eclipse.ui.edit.paste">
        <activeWhen>
           <and>
              <count
                    value="1">
              </count>
              <iterate
                    operator="and">
                 <instanceof
                       value="org.eclipse.uml2.uml.Element">
                 </instanceof>
              </iterate>
           </and>
        </activeWhen>
        <enabledWhen>
           <and>
              <count
                    value="1">
              </count>
              <iterate
                    operator="and">
                 <instanceof
                       value="org.eclipse.uml2.uml.Element">
                 </instanceof>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.uml2.editor.internal.CutCommandHandler"
           commandId="org.eclipse.ui.edit.cut">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.uml2.uml.Element">
              </instanceof>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.uml2.uml.Element">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
  </extension>
</plugin>
