<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            wizardID="org.obeonetwork.dsl.uml2.design.tests.TestAllMappingsWizard">
         <projectDescriptor
               contentURI="resources/testAllMappings/"
               name="TestAllMappings">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.obeonetwork.dsl.uml.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            id="org.obeonetwork.dsl.uml2.design.tests.TestAllMappingsWizard"
            name="Test All Mappings"
            project="true">
         <description>
            An UML model to test all the mappings defined in uml.odesign
         </description>
      </wizard>
   </extension>

</plugin>
