
.summary {
 background: #444;
  left: 10px;
  	height : 100%;
}
.container_table {
	border : 0px solid black;
}

.container_table tr {
	border : 0px solid black;
}

.summaryTitle {
	color : white;
	font: bold 14px Arial, Helvetica;
	padding-left : 20px;
	padding-top : 20px;
}
#menuContainer {
  left: 20px;
}

#menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #444;
}

#menu li
{
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#menu ul
{
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
	list-style-type: none;
}

#menu a 
{
	color: #999;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */