/** ------------------------------ TOC ------------------------------ **/
.toc {
	border : 0px solid black;
	width:300px;
}

.summary {
	position:fixed;
	background-color: #f5f5f5;
	border : 1px solid grey;
	height:100%;
	-moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;
}

.summaryTitle {
	color : white;
	padding-left : 20px;
	background:silver; 
	text-shadow:1px 1px 2px gray; 
	-moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;
}


/** ------------------------------ Content  ------------------------------ **/
.mu {
	background-color:#f5f5f5;
	border: 1px solid grey;
	-moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;
	margin-bottom:15px;
	padding-top : 5px;
}

.mu li {
	list-style-type: none;
}
#content {
	padding-left:350px;
	border : 0px solid black;
}


