.ui-resizable-se {
	width : 14px;
	height : 14px;
}

.ui-resizable-helper { border: 1px dotted #00F; }

#image-container {
	overflow : hidden;
	width : 600px;
	height : 400px;
	position : relative;
	border : solid 1px gray;
	background-image : url('bg.gif');
	background-repeat : repeat;
}