* {
	margin: 0;
}
html, body {
	height: 100%;
	overflow-y: auto;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 60px; /* .push must be the same height as .footer */
}

div#obeodesigner {
	/*padding-top: 10px;*/
	text-align : center;
}

div#obeodesigner img {
	vertical-align : middle;
}

.noLink a {
	pointer-events: none;
	cursor: default;
}