ul#diagrams img {
	vertical-align: top;
}
table#properties {
	border-top-width: 0px;
}
th.empty {
	color: #999999 ;
}
table#properties th a {
	color: #404040;
	text-decoration: none;
}
table#properties th.empty a {
	color: #999999;
	text-decoration: none;
}