<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.umlgen.ui.properties.UMLGeneratorsProperties"
            id="org.eclipse.umlgen.ui.properties"
            name="UML Generators"
            nameFilter="*.uml">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.umlgen.ui.menu"
               label="UML Generators">
            <separator
                  name="org.eclipse.umlgen.ui.gen">
            </separator>
            <separator
                  name="org.eclipse.umlgen.ui.reverse"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.umlgen.ui.definition.isUmlFile">
         <with variable="activeMenuSelection">
             <iterate
                 ifEmpty="false">
                 <adapt type="org.eclipse.core.resources.IResource">
                     <test
                        property="org.eclipse.core.resources.extension"
                        value="uml">
                     </test>
                 </adapt>
             </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.umlgen.ui.definition.isProject">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.umlgen.ui.definition.isModelElt">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.umlgen.ui.definition.isPackage">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.jdt.internal.core.PackageFragment">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.umlgen.ui.definition.isJavaProject">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
