<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
    point="org.eclipse.ui.handlers">
    <handler
        class="org.obeonetwork.dsl.uml2.dashboard.commands.OpenDashboard"
        commandId="org.obeonetwork.dsl.uml2.actions.openDashboard">
            <enabledWhen>
               <reference
                     definitionId="org.obeonetwork.dsl.uml2.design.UMLViewpointEnabledDefinition">
               </reference>
            </enabledWhen>
         </handler>
   </extension>
  <extension
    point="org.eclipse.ui.commands">
       <command
              id="org.obeonetwork.dsl.uml2.actions.openDashboard"
              name="%command.name">
           <commandParameter
                 id="org.obeonetwork.dsl.uml2.actions.openDashboard.param.model"
                 name="project"
                 optional="true"
                 typeId="org.obeonetwork.dsl.uml2.actions.openDashboard.param.modelType">
           </commandParameter>
        </command>
        <commandParameterType
              converter="org.obeonetwork.dsl.uml2.dashboard.commands.IProjectConverter"
              id="org.obeonetwork.dsl.uml2.actions.openDashboard.param.modelType"
              type="org.eclipse.core.resources.IProject">
        </commandParameterType>
   </extension>
  <extension
    point="org.eclipse.ui.menus">
    <menuContribution
        locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
            id="org.obeonetwork.dsl.uml2.toolbar.openDashboard"
            label="%toolbar.label">
            <command
                commandId="org.obeonetwork.dsl.uml2.actions.openDashboard"
                icon="icons/menu-overview.gif"
                label="%command.label"
                style="pulldown"
                tooltip="%command.tooltip">
                <visibleWhen
                    checkEnabled="false">
                    <with
                        variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.eclipse.sirius.ui.tools.perspective.modeling">
                        </equals>
                    </with>
                </visibleWhen>
            </command>
        </toolbar>
    </menuContribution>
    <menuContribution
        allPopups="false"
        locationURI="menu:org.obeonetwork.dsl.uml2.actions.openDashboard">
        <dynamic
            class="org.obeonetwork.dsl.uml2.dashboard.commands.DashboardContributionItems"
            id="org.obeonetwork.dsl.uml2.design.dynamicDashboard">
        </dynamic>
    </menuContribution>
   </extension>
  <extension
    point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
        class="org.obeonetwork.dsl.uml2.dashboard.testers.UMLViewpointEnablementPropertyTester"
        id="org.obeonetwork.dsl.uml2.design.UMLViewpointEnabled"
        namespace="org.obeonetwork.dsl.uml2.design"
        properties="UmlViewpointEnabled"
        type="java.lang.Object">
    </propertyTester>
  </extension>
     <extension
         point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.OverviewPage"
            imageOff="icons/overview/OverviewOn.png"
            imageOn="icons/overview/OverviewSelectedOn.png"
            index="1"
            tabName="%overview"
            title="%overview"
            viewer="true">
         <Description>
            Lists all the representations that could be created ordered by viewpoints : Capture (Package hierarchy, Use case diagram…), Design (Class diagram, Activity diagram,…).
         </Description>
         <Overview
               imageOff="icons/overview/OverviewOn.png"
               imageOn="icons/overview/OverviewSelectedOn.png">
            <Description>
               %overview.description
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.CaptureSection"
               index="1"
               name="%capture">
            <Description>
               %capture.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.capture.CreatePackageHierarchyDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreatePackageHierarchyDiagram"
                  image="icons/capture/Package.gif"
                  index="1"
                  name="%create.package.hierarchy">
               <Description>
                  %create.package.hierarchy.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.CaptureViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.capture.CreateUseCaseDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateUseCaseDiagram"
                  image="icons/capture/UseCase.gif"
                  index="2"
                  name="%create.useCase.diagram">
               <Description>
                  %create.useCase.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.CaptureViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.DesignSection"
               index="2"
               name="%design">
            <Description>
               %design.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateActivityDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateActivityDiagram"
                  image="icons/design/Activity.gif"
                  index="1"
                  name="%create.activity.diagram">
               <Description>
                  %create.activity.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateClassDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateClassDiagram"
                  image="icons/design/Class.gif"
                  index="2"
                  name="%create.class.diagram">
               <Description>
                  %create.class.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateComponentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateComponentDiagram"
                  image="icons/design/Component.gif"
                  index="3"
                  name="%create.component.diagram">
               <Description>
                  %create.component.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateCompositeStructureDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateCompositeStructureDiagram"
                  image="icons/design/InterfaceRealization.gif"
                  index="4"
                  name="%create.compositeStructure.diagram">
               <Description>
                  %create.compositeStructure.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateDeploymentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateDeploymentDiagram"
                  image="icons/design/Deployment.gif"
                  index="5"
                  name="%create.deployment.diagram">
               <Description>
                  %create.deployment.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateSequenceDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateSequenceDiagram"
                  image="icons/design/Lifeline.gif"
                  index="6"
                  name="%create.sequence.diagram">
               <Description>
                  %create.sequence.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateStateMachineDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateStateMachineDiagram"
                  image="icons/design/StateMachine.gif"
                  index="7"
                  name="%create.stateMachine.diagram">
               <Description>
                  %create.stateMachine.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.ReviewSection"
               index="3"
               name="%review">
            <Description>
               %review.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreateDocumentationTable"
                  id="org.obeonetwork.dsl.uml2.design.CreateDocumentationTable"
                  image="icons/review/Package.gif"
                  index="1"
                  name="%create.documentation.table">
               <Description>
                  %create.documentation.table.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.ReviewViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreateUseCaseCrossTable"
                  id="org.obeonetwork.dsl.uml2.design.CreateUseCaseCrossTable"
                  image="icons/review/Class.gif"
                  index="2"
                  name="%create.useCase.crossTable">
               <Description>
                  %create.useCase.crossTable.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.ReviewViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreatePackageContainmentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreatePackageContainmentDiagram"
                  image="icons/review/Component.gif"
                  index="3"
                  name="%create.packageContaiment.diagram">
               <Description>
                  %create.packageContaiment.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.ReviewViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.ExtendSection"
               index="4"
               name="%extend">
            <Description>
               %extend.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.extend.CreateProfileDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateProfileDiagram"
                  image="icons/extend/Profile.gif"
                  index="1"
                  name="%create.profile.diagram">
               <Description>
                  %create.profile.diagram.tooltip
               </Description>
               <Predicate
                     class="org.obeonetwork.dsl.uml2.dashboard.predicates.ExtendViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.IsAnUmlDesignerProjectPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.CapturePage"
            imageOff="icons/capture/CaptureOn.png"
            imageOn="icons/capture/CaptureSelectedOn.png"
            index="2"
            tabName="%capture"
            title="%capture"
            viewer="true">
         <Description>
            %capture.description
         </Description>
         <Overview
               imageOff="icons/capture/CaptureOn.png"
               imageOn="icons/capture/CaptureSelectedOn.png">
            <Description>
               &lt;p&gt;&lt;b&gt;Capture&lt;/b&gt;&lt;br/&gt;Capture the actors and their interactions with the application and define the main structure of the application.&lt;/p&gt;
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.CaptureSection"
               index="1"
               name="%capture">
            <Description>
               %capture.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.capture.CreatePackageHierarchyDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreatePackageHierarchyDiagram"
                  image="icons/capture/Package.gif"
                  index="1"
                  name="%create.package.hierarchy">
               <Description>
                  %create.package.hierarchy.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.capture.CreateUseCaseDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateUseCaseDiagram"
                  image="icons/capture/UseCase.gif"
                  index="2"
                  name="%create.useCase.diagram">
               <Description>
                  %create.useCase.diagram.tooltip
               </Description>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.CaptureViewPointPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.DesignPage"
            imageOff="icons/design/DesignOn.png"
            imageOn="icons/design/DesignSelectedOn.png"
            index="3"
            tabName="%design"
            title="%design"
            viewer="true">
         <Description>
            %design.description
         </Description>
         <Overview
               imageOff="icons/design/DesignOn.png"
               imageOn="icons/design/DesignSelectedOn.png">
            <Description>
               &lt;p&gt;&lt;b&gt;Design&lt;/b&gt;&lt;br/&gt;Work on the fine grained structure and the behaviours of the application.&lt;/p&gt;
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.DesignSection"
               index="1"
               name="%design">
            <Description>
               %design.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateActivityDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateActivityDiagram"
                  image="icons/design/Activity.gif"
                  index="1"
                  name="%create.activity.diagram">
               <Description>
                  %create.activity.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateClassDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateClassDiagram"
                  image="icons/design/Class.gif"
                  index="2"
                  name="%create.class.diagram">
               <Description>
                  %create.class.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateComponentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateComponentDiagram"
                  image="icons/design/Component.gif"
                  index="3"
                  name="%create.component.diagram">
               <Description>
                  %create.component.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateCompositeStructureDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateCompositeStructureDiagram"
                  image="icons/design/InterfaceRealization.gif"
                  index="4"
                  name="%create.compositeStructure.diagram">
               <Description>
                  %create.compositeStructure.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateDeploymentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateDeploymentDiagram"
                  image="icons/design/Deployment.gif"
                  index="5"
                  name="%create.deployment.diagram">
               <Description>
                  %create.deployment.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateSequenceDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateSequenceDiagram"
                  image="icons/design/Lifeline.gif"
                  index="6"
                  name="%create.sequence.diagram">
               <Description>
                  %create.sequence.diagram.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.design.CreateStateMachineDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateStateMachineDiagram"
                  image="icons/design/StateMachine.gif"
                  index="7"
                  name="%create.stateMachine.diagram">
               <Description>
                  %create.stateMachine.diagram.tooltip
               </Description>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.DesignViewPointPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.ReviewPage"
            imageOff="icons/review/ReviewOn.png"
            imageOn="icons/review/ReviewSelectedOn.png"
            index="4"
            tabName="%review"
            title="%review"
            viewer="true">
         <Description>
            %review.description
         </Description>
         <Overview
               imageOff="icons/review/ReviewOn.png"
               imageOn="icons/review/ReviewSelectedOn.png">
            <Description>
               &lt;p&gt;&lt;b&gt;Review&lt;/b&gt;&lt;br/&gt;Document, get some overview and metrics of the application (non standard representations).&lt;/p&gt;
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.ReviewSection"
               index="1"
               name="%review">
            <Description>
               %review.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreateDocumentationTable"
                  id="org.obeonetwork.dsl.uml2.design.CreateDocumentationTable"
                  image="icons/review/Package.gif"
                  index="1"
                  name="%create.documentation.table">
               <Description>
                  %create.documentation.table.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreateUseCaseCrossTable"
                  id="org.obeonetwork.dsl.uml2.design.CreateUseCaseCrossTable"
                  image="icons/review/Class.gif"
                  index="2"
                  name="%create.useCase.crossTable">
               <Description>
                  %create.useCase.crossTable.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.review.CreatePackageContainmentDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreatePackageContainmentDiagram"
                  image="icons/review/Component.gif"
                  index="3"
                  name="%create.packageContaiment.diagram">
               <Description>
                  %create.packageContaiment.diagram.tooltip
               </Description>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.ReviewViewPointPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.ExtendPage"
            imageOff="icons/extend/ExtendOn.png"
            imageOn="icons/extend/ExtendSelectedOn.png"
            index="5"
            tabName="%extend"
            title="%extend"
            viewer="true">
         <Description>
            %extend.description
         </Description>
         <Overview
               imageOff="icons/extend/ExtendOn.png"
               imageOn="icons/extend/ExtendSelectedOn.png">
            <Description>
               &lt;p&gt;&lt;b&gt;Extend&lt;/b&gt;&lt;br/&gt;Extend the UML standard for example by defining profile.&lt;/p&gt;
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.obeonetwork.dsl.uml2.design.ExtendSection"
               index="1"
               name="%extend">
            <Description>
               %extend.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.extend.CreateProfileDiagram"
                  id="org.obeonetwork.dsl.uml2.design.CreateProfileDiagram"
                  image="icons/extend/Profile.gif"
                  index="1"
                  name="%create.profile.diagram ">
               <Description>
                  %create.profile.diagram.tooltip
               </Description>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.ExtendViewPointPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.ActivityExplorerPage"
            id="org.obeonetwork.dsl.uml2.design.DocumentationPage"
            imageOff="icons/documentation/HelpOn.png"
            imageOn="icons/documentation/HelpSelectedOn.png"
            index="6"
            tabName="%documentation"
            title="%documentation"
            viewer="false">
         <Description>
            %documentation.description
         </Description>
         <Overview
               imageOff="icons/documentation/HelpOn.png"
               imageOn="icons/documentation/HelpSelectedOn.png">
            <Description>
               &lt;p&gt;&lt;b&gt;Help&lt;/b&gt;&lt;br/&gt;Find help, the reference documentations and the support entry points.&lt;/p&gt;
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="false"
               id="org.obeonetwork.dsl.uml2.design.HelpSection"
               index="1"
               name="%documentation">
            <Description>
               %documentation.description
            </Description>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.help.OpenGettingStartedHelpActivity"
                  id="org.obeonetwork.dsl.uml2.design.GettingStartActivity"
                  image="icons/topic_small.gif"
                  index="1"
                  name="%open.gettingStarted">
               <Description>
                  %open.gettingStarted.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.help.OpenReferenceDocumentationHelpActivity"
                  id="org.obeonetwork.dsl.uml2.design.OpenReferenceDocumentationActivity"
                  image="icons/topic_small.gif"
                  index="2"
                  name="%open.referenceDocumentation">
               <Description>
                  %open.referenceDocumentation.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.help.OpenUserGuideHelpActivity"
                  id="org.obeonetwork.dsl.uml2.design.OpenUserGuideActivity"
                  image="icons/toc_open.gif"
                  index="3"
                  name="%open.userGuide">
               <Description>
                  %open.userGuide.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.help.OpenDeveloperGuideHelpActivity"
                  id="org.obeonetwork.dsl.uml2.design.OpenDeveloperGuideActivity"
                  image="icons/toc_open.gif"
                  index="4"
                  name="%open.developerGuide">
               <Description>
                  %open.developerGuide.tooltip
               </Description>
            </Activity>
            <Activity
                  class="org.obeonetwork.dsl.uml2.dashboard.activities.help.OpenSupportHelpActivity"
                  id="org.obeonetwork.dsl.uml2.design.OpenSupportActivity"
                  image="icons/topic_small.gif"
                  index="5"
                  name="%open.support">
               <Description>
                  %open.support.tooltip
               </Description>
            </Activity>
         </Section>
         <Predicate
               class="org.obeonetwork.dsl.uml2.dashboard.predicates.IsAnUmlDesignerProjectPredicate">
         </Predicate>
      </Page>
   </extension>
</plugin>
