<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.obeonetwork.dsl.uml2.migration.project"
               label="Migrate to UML Designer 4.0"
               style="push"
               tooltip="Migrate the project to last UML Designer version">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.obeonetwork.dsl.uml2.migration.project"
            name="Migrate Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.obeonetwork.dsl.uml2.migration.MigrateUMLProject"
            commandId="org.obeonetwork.dsl.uml2.migration.project">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.sirius.migrationParticipant">
      <participant
            class="org.obeonetwork.dsl.uml2.migration.UmlDesignerRepresentationsFileMigrationParticipant"
            kind="VSM">
      </participant>
   </extension>

</plugin>
