<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.sirius.componentization">
      <component class="org.obeonetwork.dsl.uml2.core.UMLDesignerCorePlugin"
            id="org.obeonetwork.dsl.uml2.core.design"
            name="uml2 Designer Core">
      </component>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.obeonetwork.dsl.uml2.core.internal.listeners.UmlDesignerCoreSessionManagerListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.obeonetwork.dsl.uml2.core.preferences.UmlDesignerPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.eef.properties.ui.eefTabDescriptorFilter">
      <descriptor
            class="org.obeonetwork.dsl.uml2.core.internal.properties.UmlDesignerTabDescriptorFilter"
            description="Filter to display UML properties tab "
            id="org.obeonetwork.dsl.uml2.core.design.descriptor"
            label="UML tab filter">
      </descriptor>
   </extension>
</plugin>
