<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.sirius.componentization">
     <component
           class="org.obeonetwork.dsl.uml2.profile.design.Activator"
           id="org.obeonetwork.dsl.uml2.profile.design"
           name="profile">
     </component>
  </extension>
  <extension
        point="org.eclipse.emf.validation.constraintProviders">
     <category
           id="org.obeonetwork.dsl.uml2.profile.design.constraint.stereotype.extension"
           name="Stereotype extension constraint">
     </category>
     <constraintProvider
           cache="true">
        <package
              namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
        </package>
        <constraints
              categories="http://www.eclipse.org/uml2/5.0.0/UML/Stereotype">
           <constraint
                 class="org.obeonetwork.dsl.uml2.profile.design.constraints.CheckStereotypeExtension"
                 id="org.obeonetwork.dsl.uml2.profile.design.stereotype.constraint1"
                 isEnabledByDefault="true"
                 lang="Java"
                 mode="Batch"
                 name="No extension for the Stereotype"
                 severity="WARNING"
                 statusCode="1">
              <message>
                 The stereotype {0} must extend a meta class or another stereotype
              </message>
              <description>
                 All Stereotypes, should extend a meta class or another stereotype
              </description>
              <target
                    class="Stereotype">
              </target>
           </constraint>
        </constraints>
     </constraintProvider>
  </extension>
</plugin>
