<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright (c) 2009, 2011 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->
 <plugin>
 <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/uml2/5.0.0/UML"
            class="org.obeonetwork.dsl.uml2.properties.providers.CustomUmlEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.uml2.properties.providers.UmlCustomPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram">
         <propertyTab
               id="General"
               label="General"
               category="semantic &amp; extension">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Literals"
               label="Literals">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Profile"
               label="Profile">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Attributes"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="Attributes"
               category="semantic &amp; extension"
               id="Operations"
               label="Operations">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Relationships"
               label="Relationships">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Stereotypes"
               label="Stereotypes">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="semantic &amp; extension"
               id="Profiles"
               label="Profiles">
         </propertyTab>
         <propertyTab
               id="Documentation"
               label="Comment"
               category="semantic &amp; extension"
               afterTab="General">
         </propertyTab>
         <propertyTab
               id="Ends"
               label="Ends"
               category="semantic &amp; extension"
               afterTab="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram">
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.GeneralCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.GeneralEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.General"
               tab="General">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.DocumentationPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.DocumentationEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Documentation"
               tab="Documentation">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.OperationsCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.OperationsEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Operations"
               tab="Operations">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.AttributesCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.AttributesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Attributes"
               tab="Attributes">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.RelationshipsPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.RelationshipsEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Relationships"
               tab="Relationships">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.StereotypesPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.StereotypesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Stereotypes"
               tab="Stereotypes">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.ProfilesPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.ProfilesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Profiles"
               tab="Profiles">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.ParametersCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.OperationPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Operation"
               tab="Parameters">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.LiteralsPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.EnumerationPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Enumeration"
               tab="Literals">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.EndsCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.ConnectorPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Connector"
               tab="Ends">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               category="extended"
               id="General"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Literals"
               label="Literals">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Profile"
               label="Profile">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Attributes"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="Attributes"
               category="extended"
               id="Operations"
               label="Operations">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Relationships"
               label="Relationships">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Stereotypes"
               label="Stereotypes">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Profiles"
               label="Profiles">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Documentation"
               label="Documentation">
         </propertyTab>
         <propertyTab
               afterTab="General"
               category="extended"
               id="Ends"
               label="Ends">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.GeneralCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.GeneralEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.General"
               tab="General">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.DocumentationPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.DocumentationEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Documentation"
               tab="Documentation">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.OperationsCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.OperationsEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Operations"
               tab="Operations">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.AttributesCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.AttributesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Attributes"
               tab="Attributes">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.RelationshipsPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.RelationshipsEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Relationships"
               tab="Relationships">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.StereotypesPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.StereotypesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Stereotypes"
               tab="Stereotypes">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.ProfilesPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.ProfilesEditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Profiles"
               tab="Profiles">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.ParametersCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.OperationPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Operation"
               tab="Parameters">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.LiteralsPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.EnumerationPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Enumeration"
               tab="Literals">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.uml2.properties.uml.parts.forms.EndsCustomPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.uml2.properties.uml.providers.ConnectorPropertiesEditionProvider$EditionFilter"
               id="org.obeonetwork.dsl.uml2.properties.uml.section.Connector"
               tab="Ends">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.table.ui.EditorID"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
    </plugin>
