<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

 <plugin>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/uml2/3.0.0/UML"
            class="org.obeonetwork.dsl.uml2.properties.uml.providers.UmlEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.uml2.properties.uml.providers.UmlPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.uml2.properties.uml.section"
               filter="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
 </plugin>
