<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2009, 2011 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->
<plugin>
    <extension
        point="org.eclipse.help.toc">
        <toc
            file="html/toc.xml"
            primary="true">
        </toc>
    </extension>

    <extension point="org.eclipse.emf.common.ui.examples">
        <example wizardID="org.obeonetwork.dsl.uml2.design.doc.TravelAgencyWizard">
            <projectDescriptor name="TravelAgency"
                contentURI="contents/TravelAgency/" />
        </example>
        <example
              wizardID="org.obeonetwork.dsl.uml2.design.doc.UMLInColorsWizard">
           <projectDescriptor
                 contentURI="contents/UmlInColors/"
                 name="UMLInColors">
           </projectDescriptor>
        </example>
        <example
              wizardID="org.obeonetwork.dsl.uml2.design.doc.AllMappingsWizard">
           <projectDescriptor
                 contentURI="contents/AllMappings/"
                 name="AllMappings">
           </projectDescriptor>
        </example>
    </extension>
    <extension
        point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sdk_extension_welcome_intro.xml"/>
        <configExtension
              configId="org.obeonetwork.dsl.uml2.design.welcome.config"
              content="intro/product_welcome_intro.xml">
        </configExtension>  
    </extension>

    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="html/contexts.xml"
            plugin="org.obeonetwork.dsl.uml2.design.doc">
        </contexts>
    </extension>
    <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <cheatsheet
             category="org.obeonetwork.dsl.uml2"
             composite="false"
             contentFile="doc/cheatsheets/CreateProject.xml"
             id="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.createProject"
             name="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.createProject">
       </cheatsheet>
       <cheatsheet
             category="org.obeonetwork.dsl.uml2"
             composite="false"
             contentFile="doc/cheatsheets/CreateRepresentation.xml"
             id="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.createRepresentation"
             name="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.createRepresentation">
       </cheatsheet>
       <cheatsheet
             category="org.obeonetwork.dsl.uml2"
             composite="false"
             contentFile="doc/cheatsheets/ImportModel.xml"
             id="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.importModel"
             name="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.importModel">
       </cheatsheet>
       <cheatsheet
             category="org.obeonetwork.dsl.uml2"
             composite="false"
             contentFile="doc/cheatsheets/SampleModel.xml"
             id="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.sampleModel"
             name="org.obeonetwork.dsl.uml2.design.doc.cheatsheets.sampleModel">
       </cheatsheet>
    </extension>


</plugin>
