<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.obeonetwork.dsl.uml2.usage.analytics.UsageStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.sirius.ui.page"
            class="org.obeonetwork.dsl.uml2.usage.preferences.UsagePreferencesPage"
            id="org.obeonetwork.dsl.uml2.usage.preferences.UsageAnalyticsPreferencePage"
            name="UML Designer Usage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.obeonetwork.dsl.uml2.usage.preferences.UsagePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
