<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.obeonetwork.dsl.uml2.discovery.commands.category"
            name="UML Designer Discovery">
      </category>
      <command
            categoryId="org.obeonetwork.dsl.uml2.discovery.commands.category"
            id="org.obeonetwork.dsl.uml2.discovery.commands.discoveryCommand"
            name="Install UML Components">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=org.eclipse.equinox.p2.ui.sdk.install">
            <command
                  commandId="org.obeonetwork.dsl.uml2.discovery.commands.discoveryCommand"
                  icon="icons/UmlDiscovery.png"
                  id="org.obeonetwork.dsl.uml2.discovery.toolbars.discoveryCommand"
                  tooltip="Install UML Components">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.obeonetwork.dsl.uml2.discovery.toolbar">
            <command
                  commandId="org.obeonetwork.dsl.uml2.discovery.commands.discoveryCommand"
                  icon="icons/UmlDiscovery.png"
                  id="org.obeonetwork.dsl.uml2.discovery.toolbars.discoveryCommand"
                  tooltip="Install UML Components">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.obeonetwork.dsl.uml2.discovery.handlers.UmlDiscoveryHandler"
            commandId="org.obeonetwork.dsl.uml2.discovery.commands.discoveryCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/umlDiscovery.xml">
      </configExtension>
   </extension>

</plugin>
