<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="UmlDesigner-luna" sequenceNumber="1395920939">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.4.0.v20140306-1200"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140306-1642"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.10.0.201401270305"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140310-0546"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201403111732"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201403111711"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.10.0.201401270305"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.8.0.201403111536"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.8.0.201403111830"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140310-0733"/>
      <unit id="org.eclipse.papyrus.sysml.feature.feature.group" version="1.0.0.v201403121345"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="1.2.1.v20140219-1000"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.100.v20140304-1711"/>
      <repository location="http://download.eclipse.org/releases/luna"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.1.201402241301"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20130914154012/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="3.4.1.201309031307"/>
      <repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.4/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime" version="1.3.0.201311221533"/>
      <repository location="http://download.eclipse.org/modeling/emft/eef/updates/releases/1.3/R201311221533"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.paperclips.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/sirius/updates/milestones/1.0.0M6/luna"/>
    </location>
  </locations>
</target>
